[submodule "test/deps/greatest"]
	path = test/deps/greatest
	url = https://github.com/silentbicycle/greatest.git
[submodule "subprojects/http-parser/http-parser"]
	path = subprojects/http-parser/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "test/deps/theft/theft"]
	path = subprojects/theft/theft
	url = https://github.com/silentbicycle/theft.git
